.Button {
    padding: 5px 10px;
    font-style: italic;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.primary {
    background: #4d6074;
    color: #fff;
}

.main {
    font-size: 16px;
    margin-top: 5px;
}

.small{
    font-size: 10px;
}

.Button:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

