.Item{
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    border-bottom: 1px solid grey;
    align-items: center
}

.value{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.name{
    display: flex;
    justify-content: flex-start;
    width: 85%
}

.index,
.add,
.remove{
    cursor: pointer;
    font-weight: 500;
    margin-right: 5px;
}

.remove{
    position: relative;
    top: -5px;
}

.total{
    font-style: italic;
    font-weight: 600;
    margin-right: 5px;
}


