.Input {
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all 300ms ease-in-out;
    font-style: italic;
    cursor: text;
}

.main{
    border-bottom: 1px solid black;
    padding: 0 10px;
    width:  100%;
    font-size:16px;
}

.middle{
    padding: 5px 0;
    font-size: 16px;
    width: 85%;
}

.small{
    border-bottom: 2px solid black;
    padding: 0 5px;
    font-size:14px;
    width: 70px;
    text-align: right;
}
